* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
}

.status-bar-ply1, .status-bar-ply2 {
    font-size: 30px;
    text-transform: uppercase;
    margin: 30px;
    border-radius: 10px;
    background: rgba(255, 215, 141, 0.445);
    box-shadow: 0 4px 8px 0 rgba(165, 165, 165, 0.2);
}

.score, .cards-num {
    text-transform: none;
    float: right;
    margin: 0 40px 0 0;
}

/* h4, p {
    text-align: center;
    line-height: 100px
} */

.battlefield {
    border: 1px solid rgb(216, 216, 216);
    padding: 0 0 100px 0;
    width: 100%;
}

.deck-ply1 {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(4, auto);

}

.deck-ply2 {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(4, auto);
}

.card-ply1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 150px;
    height:200px;
    margin: 0 auto;
    border-radius: 10px;
    
    

}

.card-ply2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 150px;
    height:200px;
    margin: 0 auto;
    border-radius: 10px;
}

.card-ply1:nth-child(even) {
    background: #f88d8d;
}

.card-ply1:nth-child(odd) {
    background: rgb(168, 235, 168);
}


.card-ply2:nth-child(even) {
    background: #ddfc97;
}

.card-ply2:nth-child(odd) {
    background: #a9dff8;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container-ply1, .container-ply2 {
    padding: 20px 0 0 0;
    text-align: center;
}





